/*============================================ RESETTING-STYLES ==============================*/
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

address{
    font-style: normal;
}

a {
    text-decoration: none; 
    color: inherit;  
}


/*================================================= COLOUR-PALLETTE ==============================*/
/*added all colours for later use*/
:root {
    --white: #FFFFFF; /*WHITE*/
    --primary-brand: #4D5AE5; /*IRIS*/
    --pressed:#404BBF; /*OCEAN*/
    --dark: #2E2F42; /*NAVY BLUE*/
    --success: #31D0AA; /*GREEN*/
    --text: #434455; /*SLATE*/
    --subtle-text: #8E8F99;/*LIGHT SLATE*/
    --accent: #E7E9FC; /*CORNFLOWER*/
    --light: #F4F4FD; /*CLOUD*/
    --modal-overlay: #2E2F42;/*NAVY BLUE MODAL*/
    --hero-background: #2E2F42; /*GREY*/
}

/*================================================ TEXT-STYLES ==============================*/

/*main text style, hence using 'body' tag instead of class*/

body { /*BODY*/
    color: var(--text);

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* for h1's, or the biggest, the most important titles
 /* Title | Header 1 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
   

/* for section headers */
 /* Header 2 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

/* for headers inside a list or section*/
 /* Header 3 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

/* for general paragraphs of small text*/
 /*Body Medium
    font-weight: 500;


/* button text 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
 */
/*================================================= ELEMENT-STYLES ==============================*/

/*----------------------- logo stuff ----------------*/

.logo-theme-light {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;

    letter-spacing: 0.03em;
    color: var(--dark);
}

.logo-theme-dark {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;

    letter-spacing: 0.03em;
    color: var(--light);
}

.web {
    color: var(--primary-brand);
}

/*----------------- navigation panel ------------ */
.header {
border-bottom: 1px solid var(--accent)
}

.navigation {

}

.nav-list {

}

.nav-link {
font-weight: 500;
color: var(--dark);
}
.nav-link:hover {
    color: var(--primary-brand);
}
.nav-link:active {
color: var(--pressed);
}

.address-section {

}

.address-list {

}

.mail-link {

}
.mail-link:hover {
    color: var(--primary-brand);
}
.mail-link:active {
    color: var(--pressed);
}

.tel-link {

}
.tel-link:hover {
    color: var(--primary-brand);
}
.tel-link:active {
    color: var(--pressed);
}


/*-------- hero section ------------ */

.hero-section {
    background-color: var(--dark);
}

.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}

.order-button {
    color: var(--white);
    background-color: var(--primary-brand);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    padding: 16px 32px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.order-button:active {
    background-color: var(--pressed);
}

.order-button:hover {
    background-color: var(--pressed);
}

/*-------- advantages section ------------ */

.advantages-section {

}

.advantages-list {
   
}

.advantages-item {
   
}

.item-subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.item-paragraph {
 
}



/*-------- wawd ("What are We Doing") section ------------ */
.wawd-section {

}

.section-subtitle {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.wawd-list {

}

.wawd-item {

}

/*----------- team section ------------ */

.team-section {
   
}

.team-list {
    
}

.team-list-item {
background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item-content {
    
}

/*----------- footer ------------ */

.footer-section {
    background-color: var(--dark);
}

.footer-paragraph {
    color: var(--accent);
}

/*========================PORTFOLIO========================*/

/*----------- filters section ------------ */

.filters-section {
   
}

.filters-list {

}

.filter-button {
    color: var(--primary-brand);
    background-color: var(--light);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid var(--accent);
    border-radius: 4px;

}
.filter-button:hover {
    color: #FFFFFF;
    background-color: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter-button:active {
    color: #FFFFFF;
    background-color: var(--pressed);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*----------- portfolio cards section ------------ */

.portfolio-section {
   
}

.portfolio-list {
   
}

.portfolio-card {
    border: 1px solid var(--accent)
}

.card-text {

}




